@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Entity Framework</h1>
</div>

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    O Entity Framework é um mapeador moderno de relação de objetos que permite criar uma camada de acesso a dados limpa,
                    portátil e de alto nível com o .NET (C#) em vários bancos de dados, incluindo o Banco de Dados SQL (local e o Azure),
                    SQLite, MySQL, PostgreSQL e Azure Cosmos DB.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Ele dá suporte a consultas LINQ, controle de alterações, atualizações e migrações de esquema.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Bons códigos!
                </p>
            </div>
        </div>
    </div>
</div>